h1 {
    color: blue;
}
p {
    color: white;
    background-color: #457b9d;
    padding: 15px;
    border: 10px solid powderblue;
    margin:auto 50px;
    text-align: center;
    /*
   margin:40px 15px;
   margin-top: 40px;
   margin-right: 10px;
   margin-bottom: 20px;
   margin-left:10px;

    */
}