header{
    color: #003049;
    text-align: center;
    font-size: 20px;

}
nav{
    width: 20%;
    float: left;
}
nav a{
    background-color: #d62828;
    border-radius: 10px 0;
    color:white;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    display: block;

}
section{
    float: right;
    width: 75%;
    color: #f77f00;
    border-radius: 5px;
    box-shadow: 1px 0 4px #fcbf49;
    margin-bottom: 15px;
    padding: 15px;
}

aside{
    float:right;
    width: 30%;
    padding: 5px;
    margin: 5px;
    font-style: italic;
    color:  #003049;
    box-shadow: inset 5px 0px 5px -5px #003049;
}

footer{
    clear: both;
    padding: 1px;
    text-align: center;
}

footer a{
    text-decoration: none;
}